@import 'tailwindcss';
@font-face {
  font-family: 'Pretendard Variable';
  src: url('/font/woff2/PretendardVariable.woff2') format('woff2');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Pretendard Variable', 'Pretendard', ui-sans-serif, system-ui, sans-serif;
  --color-primary: #40a6d6;
  --color-secondary: #2e7aa3;
  --color-accent: #e6f4f9;
  --color-negative: #ff4d4f;
  --color-darkgray: #808080;
  --color-gray: #cbd5e1;
  --color-lightgray: #e8f0f2;
  --color-disabled: #e0e0e0;
  --color-hover: #2c93bd;
  --color-text: #1e1e1e;
  --color-background: #fafafa;
}

@layer components {
  .title {
    @apply font-sans text-2xl sm:text-[2rem] text-text font-bold leading-[140%];
  }
  .sub-title {
    @apply font-sans text-xl sm:text-2xl text-text font-bold leading-[140%];
  }
  .contents-title {
    @apply font-sans text-[1.125rem] text-text font-semibold leading-[140%];
  }
  .label-l {
    @apply font-sans text-[1.125rem] text-text font-semibold leading-[150%];
  }
  .label-m {
    @apply font-sans text-base text-text font-normal leading-[150%];
  }
  .label-s {
    @apply font-sans text-[0.875rem] text-text font-normal leading-[150%];
  }
}

.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    width: auto;
    color: #fff;

    &::after {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    background: var(--color-darkgray);
    border: 1px solid var(--color-darkgray);

    &.swiper-pagination-bullet-active {
      background: #fff;
    }
  }
}
